<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-Type" content="text/html; charset= UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css" th:href="@{../../css/index.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>GameScraper</title>
</head>
<body>
<header class="text-left">
    <h1 class="title">GameScraper</h1>
    <div class="form-group">
        <label style="margin-right: 3%;" for="searchBar">Search by Game, Author, or Release Date.</label>
        <input type="text" class="form-control search" id="searchBar" placeholder="Search"/>
    </div>
    <h6 style="margin-left: calc(5% + 27px);" class="title">Reviews scraped from the web</h6>

</header>

<div class="container">



    <div class="clearfix">
        <img th:src="${game.imageUrl}" th:alt="${game.name}" class="img-thumbnail game-image"></img>
        <h1 class="ul-header game-image-description"><span th:text= "${game.name}"/></h1>
    </div>



    <table style="width: 50%; float: left;" class="table table-hover results" id="resultsTable">
        <thead>
        <tr>
            <th scope="row">Released</th>
            <td><span th:text= "${game.release}"/></td>
        </tr>
        </thead>
        <tbody>
        <th scope="row">Systems</th>
        <td>
            <div th:each="system : ${game.systems}" >
                <span th:text="${system.name}"> </span>
            </div>
        </td>
        </tbody>
    </table>


    <table id="scoreTable" style="width: 35%; float:right; margin-right: 5%;" class="table table-hover results scores">
        <thead>
        <tr>
            <th scope="row">Source</th>
            <td>Score</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${score}">
            <td th:if="${scoreTable.length} % 2 == 0"><span  th:text="${score.name}: ${score.score}"></span></td>
            <td th:if="${scoreTable.length} % 2 == 1" style="background: lightgray;"><span  th:text="${score.name}: ${score.score}"></span></td>
        </tr>
        </tbody>
    </table>

    <table style="width: 90%;" class="table results purchases" id="purchasesTable">
        <thead>
        <tr>
            <th scope="row" style="width: 55%;">Purchasable At</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody class="purchases-body">
            <tr th:each="purchase : ${purchase}">
                <td><span th:text="${purchase.name}"></span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
            <tr>
                <td style="width: 55%;"><span>WOW</span></td>
                <td><span>WOW</span></td>
            </tr>
        </tbody>
    </table>

    <div class="row" style="margin-left: inherit">
        <div class="col-md-12">
            <h2 style="margin-left: 2%">Comments</h2>
        </div>
    </div>
    <div class="row" style="margin-left: inherit">
        <div class="col-md-12">
            <form class="form-horizontal" th:action="@{/tests/addComment/} + ${game.id}" th:object="${comment}" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <!--<input type="text" class="form-control" placeholder="" />-->
                        <textarea th:field="*{text}" class="form-control" rows="3" placeholder="Insert a comment" style="margin-left: 5%; width: 675px; height: 100px;"></textarea>
                    </div>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" style="margin-left: 2%">Add</button>
            </form>
        </div>
    </div>

    <div class="row" style="margin-left: inherit; margin-top: 25px">
        <div th:each="comment : ${game.comments}" class="col-md-12" >
            <blockquote>
                <p th:text="${comment.text}"></p>
                <footer th:text="${#dates.format(comment.date, 'dd-MMM-yyyy hh:mm:ss')}"></footer>
            </blockquote>
        </div>
    </div>

    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var table = document.getElementById('purchasesTable').getElementsByTagName("tr");
        for(var i = 0; i < table.length; i++){

            if((i % 2) == 1){
                table[i].className += "odd"
            }
        }
    });
    /*]]>*/
    </script>

</div>
</body>

<div id="GameId" style="display: hidden;" value="${game.id}"></div>
</html>