html {
	padding: 3px;
}

body {
    background-color: whitesmoke;
}

div {

}

#genre-ul {
    text-align:left;
		margin: 0;
    padding: 0;
}

.ul-header {
    margin-bottom:0;
    margin-left: 2%;
    margin-right: auto;
}

.genre-button{
	left: 0%;
	width: 97%;
  list-style-type: none;
}
 .search{
	 position: absolute;
	 right: 0;
	 margin-right: 3%;
	 width: 300px;
 }
 label{
	 right: 0;
	 position: absolute;
	 margin-top: -30px;
	 margin-right: 26px;
}

.title{
	margin-left: 5%;
}

.results{
	margin-top: 1%;
	margin-left: 5%;
	width: 92%;
}

.game-image{
	display: inline;
	width: 175px;
	height: 175px;
	margin-left: 30px;
	margin-top: 70px;
  overflow: hidden;
	float: left;
	text-align: left;
}

.game-image-description{
  text-align: left;
	vertical-align: bottom;
	float: left;
	margin-top: 200px;
}