<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- this tells ejs to load up the 'head.ejs' partial found in the '/views/partials/' directory -->
        <%- include ../partials/head %>
    </head>
    <body>
        <header>
            <h1 class="text-center">Header Stuff</h1>
        </header>
        <div class="text-center">
            <p>First Div</p>
        </div>
        <div class="text-center">
            <p>Second Div</p>
        </div>
        <div class="text-center">
            <p>Third Div</p>
        </div>
        <footer class="text-center">
            <h1 class="text-center">Footer Stuff</h1>
        </footer>
    </body>
</html>
