<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-Type" content="text/html; charset= UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css" th:href="@{../../css/index.css}"/>
    <title>GameScraper</title>
</head>
<body>
<header class="text-left">
    <h1 class="title">GameScraper</h1>
    <div class="form-group">
        <label style="margin-right: 3%;" for="searchBar">Search by Game, Author, or Release Date.</label>
        <input type="text" class="form-control search" id="searchBar" placeholder="Search"/>
    </div>
    <h6 style="margin-left: calc(5% + 27px);" class="title">Reviews scraped from the web</h6>

</header>

<div>
    <img th:src="${game.imageUrl}" th:alt="${game.name}" class="img-thumbnail game-image"></img>
    <h1 class="ul-header game-image-description"><span th:text= "${game.name}"/></h1>
</div>

<table class="table table-hover results" id="resultsTable">
    <thead>
        <tr>
            <th scope="row">Released</th>
            <td><span th:text= "${game.release}"/></td>
        </tr>
    </thead>
    <tbody>
        <th scope="row">Systems</th>
        <tr th:each="system : ${game.systems}">
            <td><span th:text="${system.name}"></span></td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <th scope="row">Purchasable At:</th>
    </thead>
    <tbody>
        <tr th:each="purchase : ${purchase}">
            <td><span th:text="${purchase.name}"></span></td>
        </tr>
    </tbody>
</table>

<table>
    <thead>
        <th scope="row">Scores:</th>
    </thead>
    <tbody>
        <tr th:each="score : ${score}">
            <td><span th:text="${score.name}: ${score.score}"></span></td>
        </tr>
    </tbody>
</table>
</body>
<div style="display: hidden;" value="${game.id}"></div>
</html>