<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-Type" content="text/html; charset= UTF-8"/>
    <title th:text= "${game.name}"/>
</head>
<body>
<table>
    <div> <img th:text="${game.imageUrl}"/> </div>
    <tr>
        <th>Title</th>
        <th>ID</th>
        <th>RELEASE</th>
    </tr>
    <tr>
        <td> <span th:text= "${game.name}"/> </td>
        <td> <span th:text= "${game.id}"/> </td>
        <td> <span th:text= "${game.release}"/> </td>
    </tr>

</table>
</body>
</html>